* {
    margin: 0px;
    padding: 0px;
}

body {
    font: 100% Goudy old style;
    color: #cccccc;
    background: #36342D;
    width: 95%;
    height: auto;
    margin: 10px auto;
    text-align: center;
}

#container {
    height: 100%;
}

#header {
    font-size: 24px;
    margin: 10px auto;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
}

#colour {
    border: 1px solid #36342D;
}